@charset "UTF-8";
.bodyContentGrid {
  display: grid;
  grid-auto-columns: 25% 75%;
  grid-template-areas: "bodyParagraphs imgContainer";
}

.bodyParagraphs {
  border-right: 3px solid black;
  grid-area: bodyParagraphs;
}

.container {
  width: 80%;
}

.enjoy {
  margin-top: 0px;
  align-self: center;
}

.enjoy li {
  border-top: 2px solid black;
  font-size: 20px;
  padding: 2px 0px;
}

.headerGrid {
  display: grid;
  margin-top: 25px;
  height: 300px;
  grid-template-columns: 70% 30%;
  grid-template-areas: "logoTitleContainer smallListContainer";
  border-bottom: 5px solid black;
}

.image {
  height: 340px;
  width: 340px;
  border: 2px solid black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
}

.image:hover {
  opacity: .7;
  cursor: pointer;
  transition: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
}

#modalImage {
  height: 85%;
  width: 100%;
  border-radius: 5%;
  border: 5px solid white;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    font-size: 25px;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 25px 0px;
    height: 150px;
}

#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
}

#close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.imgContainer {
  grid-area: imgContainer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 30px;
  padding: 25px;
}

.logo {
  display: grid;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: lightblue;
}

#logoId {
  font-family: 'UnifrakturCook', cursive;
  font-size: 50px;
  align-self: center;
  justify-self: center;
}

.list {
  display: grid;
  justify-self: start;
}

#listTitle {
  text-align: center;
}

.logoTitleContainer {
  display: grid;
  height: 275px;
  align-items: center;
  grid-template-columns: 200px 1fr;
  grid-area: logoTitleContainer;
  text-align: center;
}

.nav {
  height: 80px;
}

p {
  padding: 0px 12px;
  text-indent: 30px;
}

.smallListContainer {
  grid-area: smallListContainer;
  display: grid;
  height: 100px;
}

#thisTitle {
  margin-left: 25px;
  align-self: start;
  font-family: 'Merriweather', serif;
  font-size: 100px;
}

@media only screen and (max-width: 1775px) {
  .imgContainer {
    padding: 25px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

@media only screen and (max-width: 1360px) {
  .container {
    width: 95%;
  }
  .nav {
    height: 100%;
  }
}

@media only screen and (max-width: 1160px) {
  .bodyContentGrid {
    grid-auto-columns: 35% 65%;
  }
  .enjoy li {
    font-size: 17px;
  }
  .image {
    height: 250px;
    width: 250px;
  }
  #listTitle {
    font-size: 25px;
  }
  .logo {
    height: 175px;
    width: 175px;
    background-color: lightblue;
  }
  #logoId {
    font-size: 40px;
  }
  #thisTitle {
    margin-left: 0px;
    font-size: 75px;
  }
}

@media only screen and (max-width: 950px) {
  .bodyContentGrid {
    grid-auto-columns: 40% 60%;
  }
  .image {
    height: 200px;
    width: 200px;
  }
  .imgContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 25px;
  }
  p {
    padding: 0px 5px;
  }
}

@media only screen and (max-width: 830px) {
  .bodyContentGrid {
    grid-auto-columns: 50% 50%;
  }
  .headerGrid {
    grid-template-columns: 1fr;
  }
  .image {
    height: 150px;
    width: 150px;
  }
  .imgContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 25px;
  }
  .smallListContainer {
    display: none;
  }
}

@media only screen and (max-width: 778px) {
  .bodyContentGrid {
    grid-auto-columns: 55% 45%;
  }
  .imgContainer {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 25px;
  }
  #image5 {
    display: none;
  }
  #image6 {
    display: none;
  }
}

@media only screen and (max-width: 589px) {
  .logo {
    height: 150px;
    width: 150px;
    background-color: lightblue;
  }
  #logoId {
    font-size: 30px;
  }
  #modalImage {
    height: 65%;
    width: 95%;
  }
  #thisTitle {
    margin-left: 0px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .bodyContentGrid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "bodyParagraphs" "imgContainer";
  }
  .bodyParagraphs {
    border-right: none;
  }
  .image {
    height: 250px;
    width: 250px;
  }
  .imgContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 25px;
  }
  .list {
    margin-left: auto;
    margin-right: auto;
  }
  .logoTitleContainer {
    display: grid;
    height: auto;
    grid-template-columns: 100%;
  }
  .logoId {
    align-self: center;
    text-align: center;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  #modalImage {
    height: 50%;
  }
}

@media only screen and (max-width: 436px) {
  .imgContainer {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .image {
    height: 200px;
    width: 200px;
  }
}
